# Introduction

While in an ideal world, we could jump right into analyze the data, often the data that we receive is not always in a condition to be actually usable. So now that we dealt with the missing data, let us actually look to see if there is any unclean data aka data that doesn't seem to make any sense. 

The goal at the end of this notebook is to end up with dataset that is clean and ready for analysis.

# Ingesting Data + Prep

You'll notice that at the beginning of each notebook, there is a code section for importing libraries. Libraries are reusable chucks of code also known as modules. When installing python, there is a standard library which comes with it. For more information about the Standard Library, see https://docs.python.org/3/library/.

However, there are some very well known libraries that are extremely useful for data wrangling and analyiss that we have used and continue to use. One of the most used library is pandas (for more imformation about pandas, see https://pandas.pydata.org/). Typically, for these non-prepackaged libraries, we need to install them and import them. The former is done for you, but in each notebook we need to reimport each library.

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import datetime

Now that we have imported the data a few times. We will leave it up to you. The dataset is stored in a csv called complete_data.csv. The folder structure to the file is [to be filled].

In [7]:
# Exercise 

filepath = None
df = None

In [2]:
# Answer
filepath = r'/home/jovyan/complete_data.csv'
df = pd.read_csv(filepath)

# Cleaning the Data

One of the most common things that trip up people is duplicate data. Thus, this is generally one of the first things to check for. Let's see if this dataset has duplicates and if there are then let us find out how many duplicates there are. 

We can do this using the duplicated() method. Why don't you give it a try?

In [ ]:
# Exercise

index = None

In [3]:
# Answer

index = df.duplicated()

df[index].head()

,airport,track,stid,call_sign,time,event,status,departure_airport,destination_airport,timestamp
95647,KSEA,1933,6205407,DAL2867,2020-01-07 05:59:11,on,onsurface,KDEN,KSEA,2020-01-07 06:00:00
136681,KDFW,635,1489470,AAL2269,2020-01-09 22:58:42,off,airborne,KDFW,KTUL,2020-01-09 23:00:00
1126423,KBWI,2477,492949,SWA5443,2020-03-15 03:36:48,on,onsurface,KSTL,KBWI,2020-03-15 04:00:00
1212956,KORD,3781,10569315,UAL1938,2020-03-21 06:30:06,on,onsurface,KDEN,KORD,2020-03-21 07:00:00
1379950,KLAS,1477,1702705,SWA1342,2020-04-16 20:11:35,off,airborne,KLAS,KSNA,2020-04-16 20:00:00

In [30]:
# Exercise

count_of_dups = None

print('The count of duplicates is', count_of_dups)

The count of duplicates is None

In [4]:
# Answer

count_of_dups = df.duplicated().sum()

print('The count of duplicates is', count_of_dups)

The count of duplicates is 177701

Alright, so there are a good amount of duplicates in our data. Let's remove them. We can do this is the drop_duplicates() method. Why don't you give it a try? Hint: the syntax is similar to the duplicated() and isnull() method.

In [ ]:
# Exercise

dedup_df = None

In [5]:
# Answer

dedup_df = df.drop_duplicates()

dedup_df.duplicated().sum()

0

Now that we have removed the duplicates, lets move on to check if we have the right time frame of the data. We know that the data is supposed to be from 1-1-2020 to 9-1-2020. Let's check if this is actually the case.

Let's subset the data and see if there there are any observations that are before 1-1-2020 or after 9-1-2020.

In [25]:
# Exercise

index = None

In [6]:
# Answer
index = dedup_df['time'] < '2020-01-01'
dedup_df[index]

,airport,track,stid,call_sign,time,event,status,departure_airport,destination_airport,timestamp
2447717,KLAX,2960,18204744,SWA1387,2019-01-03 02:14:18,off,airborne,KLAX,KSJC,2019-01-03 02:00:00
2447718,KPHX,3868,8644631,SWA8663,2019-05-01 20:44:13,on,onsurface,KFHU,KPHX,2019-05-01 21:00:00
2447719,KPHX,296,6794021,AAL339,2019-03-03 04:23:55,on,onsurface,KDFW,KPHX,2019-03-03 04:00:00
2447720,KMCO,1243,5810754,AAL411,2019-01-01 09:16:44,on,onsurface,KPHX,KMCO,2019-01-01 09:00:00
2447721,KLAS,143,1352021,DAL2605,2019-02-22 17:31:37,off,airborne,KLAS,KMSP,2019-02-22 18:00:00
...,...,...,...,...,...,...,...,...,...,...
3354194,KIAH,2247,327027,UAL1838,2019-01-25 01:45:13,on,onsurface,MMMX,KIAH,2019-01-25 02:00:00
3354195,KHOU,3406,936905,SWA1145,2019-09-01 22:18:39,Off,airborne,KHOU,KSAN,2019-09-01 22:00:00
3354196,KSAN,1364,434972,DAL1099,2019-08-23 19:20:20,on,onsurface,KMSP,KSAN,2019-08-23 19:00:00
3354197,KMSP,3140,2982311,DAL372,2019-08-02 15:03:20,Off,airborne,KMSP,KPDX,2019-08-02 15:00:00
3354198,KDCA,1245,2637843,SWA250,2019-08-01 03:12:31,on,onsurface,KMCO,KDCA,2019-08-01 03:00:00

So we see that there are some events that occur before 1/1/20. Though them being before having this data in this dataset isn't necessarily a problem, for consistency's sake, we will remove this data so that our dataset matches with what was given to us.

In [ ]:
# Exercise

index = None 
new_df = None

In [31]:
# Answer
index = dedup_df['time'] >= '2020-01-01'
timed_df = dedup_df[index].copy()

Another thing that is typical in that there might random inappropriate values for your categorical data. Categorical data is data that only involves a limited or fixed number of possible values. One example of a categorical variable might be the airport column. In the airport column, we know that there should only be airports and each of these airports should only have a 4 letter identifier. So let's take a closer look at this column of data

In [29]:
timed_df['airport'].unique()

array(['KMIA', 'KMEM', 'KDFW', 'KHOU', 'KATL', 'KLAX', 'KSTL', 'KCLT',
       'KORD', 'KMDW', 'KDTW', 'KLAS', 'KBOS', 'KSAN', 'KIAH', 'KPHX',
       'KJFK', 'KDCA', 'KSEA', 'KEWR', 'KLGA', 'KSLC', 'KBWI', 'KFLL',
       'KDEN', 'KPHL', 'KMSP', 'KMCO', 'KSNA', 'KIAD', 'KMKE', 'KSDF',
       'KBDL', 'kiah', 'klax', 'ksea', 'kmdw', 'kclt', 'katl', 'kdtw',
       'kdfw', 'kphx', 'kiad', 'kbos', 'kphl', 'kord', 'kfll', 'khou',
       'KPVD', 'kslc', 'kbwi', 'kden', 'kdca', 'ksan'], dtype=object)

One of the things that we see is that there are a bunch of upper case values and a bunch of lower case values. While in some cases this might be okay because these values might indicate different things, in our case, they should actually refer to the same airports. While this might not seem like a big difference, as we analyze this data and group in different ways, this might introduce some unexpected behaviors. So let's fix this. 

This can be done with the upper() method. You'll notice that I have to put a .str before my method. This is because upper() is a string method and to access the string menthod we need the str attribute. Other methods such as dates (.dt) require this as well. We will explore this more in depth at a later time.

In [32]:
timed_df['airport'] = timed_df['airport'].str.upper()

Finally, let's move on to actually check if take of and landing events actually match up to the destination and departure airports. 

So from the data it seems that the airport column should be the same as the departure or destination airport columns depending on whether it is a take off or landing. However there are some exceptions. There are cases in which this is not the case. 

eg. for a takeoff, the reporting airport should be the departure airport (and visa-versa). However, we see that there are a number of cases in which this is not the case. It may be an bad sensor or a mistake in reporting. In either case, let's look at these cases and decide what to do with them.

In [33]:
index = (timed_df['destination_airport'] == timed_df['airport']) & (timed_df['destination_airport'] != timed_df['departure_airport']) & (timed_df['event'] == 'off')
timed_df[index][['airport','call_sign','time','event','departure_airport','destination_airport']].head()

,airport,call_sign,time,event,departure_airport,destination_airport
344,KDEN,UAL254,2020-01-01 00:25:02,off,KPHX,KDEN
5047,KBWI,SWA4628,2020-01-01 14:39:57,off,KMSY,KBWI
6790,KDEN,SWA1424,2020-01-01 16:42:10,off,KGEG,KDEN
19732,KIAH,UAL1781,2020-01-02 14:08:51,off,KMAF,KIAH
27419,KDEN,UAL2464,2020-01-02 22:40:05,off,KSEA,KDEN

A couple things to note from the code above. The first is that in order to only look at a portion of the columns, we subsetted the data with a double brackets. This subsets only the columns that are listed. Secondly, you'll notice that conditional statement that we assign to the index is a bit more complicated this time. Effectively, there are three parts to it. The first is does the destination airport match the airport column. The second is that the departure and destination airports do not match. Lastly, that the event is a takeoff.

So we found all the takeoffs that didn't seem right. Can we do this for all the landing as well?

In [ ]:
# Exercise Here

index = None

In [34]:
# Answer
index = (timed_df['departure_airport'] == timed_df['airport']) & (timed_df['event'] == 'on') & (timed_df['destination_airport'] != timed_df['departure_airport'])
timed_df[index][['airport','call_sign','time','event','departure_airport','destination_airport']].head()

,airport,call_sign,time,event,departure_airport,destination_airport
193,KLAX,UAL1227,2020-01-01 00:12:55,on,KLAX,PHLI
224,KLAX,UAL1227,2020-01-01 00:15:05,on,KLAX,PHLI
278,KLAX,UAL1227,2020-01-01 00:18:58,on,KLAX,PHLI
613,KORD,AAL2517,2020-01-01 00:44:44,on,KORD,MMPR
1890,KPHX,SWA6086,2020-01-01 02:30:22,on,KPHX,KMCI

After inspection, we see that there only a small number of cases compared to the total amount of cases, so let's drop them because we don't have any additional information regarding them. Why don't you give it a try? Hint: You might need an the bitwise operator for or (|) when making your conditional statement to subset the data.

In [ ]:
# Exercise

In [36]:
# Answer
index = ((timed_df['destination_airport'] == timed_df['airport']) & (timed_df['event'] == 'on')) | ((timed_df['departure_airport'] == timed_df['airport']) & (timed_df['event'] == 'off'))
clean_df = timed_df[index].copy()

Great! Now that we have finished cleaning the data, we can finally get around to exploring it and seeing what interesting things we can learn!

# Used only for building Scripts
clean_df.to_csv(r'C:\Users\jpau\Documents\Projects\Airforce\data\clean_data.csv', index=False)